
<table class="profiles">
    <tr *ngFor="let profile of profiles">
        <td>
            <a routerLink="/detail/{{profile.id}}">
            <!-- <span class="badge">{{profile.id}}:</span> -->
            {{ profile.name }}
            </a>
        </td>
        <td title="{{ profile.datetime | date:'HH:mm:ss' }}">
            {{ profile.datetime | date:"yyyy-MM-dd" }}
        </td>
        <td>
            <button class="delete" title="delete profile" (click)="delete(profile)" translate>delete</button>
        </td>
    </tr>
</table>
