<div *ngIf="profile">
    <h2>{{profile.name || "New"}} QR Code</h2>
    <div class="profile">
        <label for="name">Title: </label>
        <input id="name" [(ngModel)]="profile.name" placeholder="title">
        <label for="text">Text for QR: </label>
        <textarea id="text" [(ngModel)]="profile.text" placeholder="text"></textarea>
        <button (click)="profile.id ? save() : add()">save</button>
    
        <ngx-kjua
        [text]="profile.text"
        [render]="'image'"
        ></ngx-kjua>
    </div>
    <!-- <button (click)="goBack()">go back</button> -->
</div>