<!-- <div>
    <h2>{{profile.name || 'New'}} QR Code</h2>
    <div>
        <div>
            <label for="name">Title: </label>
            <input id="name" [(ngModel)]="profile.name" placeholder="title">
        </div>
        <div>
            <label for="text">Text: </label>
            <textarea id="text" [(ngModel)]="profile.text" placeholder="text"></textarea>
        </div>
        <button (click)="add()">Save</button>
        <ngx-kjua
        [text]="profile.text"
        [render]="'image'"
        ></ngx-kjua>
    </div>
    <button (click)="goBack()">go back</button>
</div> -->
